//On importe les variables du fichier variables.scss pour pouvoir les utiliser dans ce style.
@use "../styles/variables.scss" as *;

.card {
  display: block;        // fait que la carte s'affiche comme un bloc
  overflow: hidden;      // empêche l'image de dépasser
  border-radius: 10px;
  height: 300px;
  position: relative; //Permet de placer le titre par dessus l'image

    .card__image {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
    }
    
    .card__title {
    position: absolute; //Place le titre par dessus l'image
    bottom: 10px;
    left: 10px;
    color: $color-white; //Couleur du texte (Variable blanche)
    font-size: 18px;
  }
}


