//On importe les variables
@use "./variables.scss" as *;
.gallery {
  display: grid; // Utilisation de CSS Grid
  grid-template-columns: 1fr 1fr 1fr; // crée 3 colonnes de largeur égale
  gap: 30px; //Espace de 30px entre les élements 
  background-color: #EDECEB; //Couleur de fond
  padding: 40px; //Espace à l'interieur du bloc
  margin: 40px; //Espace à l'exterieur du bloc
  border-radius: 10px;
}
@media (max-width: 768px) {
  .gallery {
    display: flex;
    flex-direction: column; //les éléments se pacent en colonne
    background-color: $color-white; 
    padding: 0px;
    padding-top: 15px;
    margin: 15px;

  }
}
