@use "./variables.scss" as *;
.gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; /* 3 colonnes égales */
  gap: 30px;
  background-color: #EDECEB;
  padding: 40px;
  margin: 40px;
  border-radius: 10px;
}
@media (max-width: 768px) {
  .gallery {
    display: flex;
    flex-direction: column;
    background-color: $color-white;
    padding: 0px;
    padding-top: 15px;
    margin: 15px;

  }
}
