header {
margin: 40px;
display: flex;

  .header__container {
    display: flex;
    align-items: center;
    width: 100%;
  }
  img {
    width: 120px;                 // taille du logo
    height: auto;
  }

  nav {
    margin-left: auto;  // pousse la nav à droite
    gap: 30px;
    display: flex;


    a {
      text-decoration: none;
      color: #333;
      font-weight: 500;
      font-size: 16px;
      transition: color 0.3s;

      &:hover {
        text-decoration: underline; // soulignement au survol
      }
    }
  }
}

@media (max-width: 768px) {
    header {
      margin: 15px;
      padding-bottom: 15px;
    }
  }

