//On importe les variables de couleurs depuis le fichier variables.scss
@use "./variables.scss" as *;

.logement__host {
  display: flex; //Place les éléments (nom + photo) sur une ligne
  align-items: center; //Centre les élements verticalement
  gap: 10px; //Espace de 10px entre le nom et la photo

  &-name {
  font-size: 16px; //Taille du texte du nom de l'hôte
  color: $color-primary; //Couleur du texte du nom de l'hôte, définie dans variables.scss
  }

  &-picture {
  width: 50px; //Largeur de la photo de l'hôte
  height: 50px; //Hauteur de la photo de l'hôte
  border-radius: 50%; //Arrondit les coins de la photo pour la rendre circulaire
  }
}

