.logement__rating {
  display: flex; //Place les étoiles sur une ligne
  gap: 5px; //Espace de 5px entre les étoiles

  img {
    width: 25px; //Largeur de 25px pour les étoiles
    height: 25px; //Hauteur de 25px pour les étoiles
  }
}
